.firstLineInputs input {
    height: 3rem;
    width: 20.5vw;
    margin-bottom: 1vw;
    border: 2px solid #5a4fcf;
    background: none;
}

.firstLineInputs input::placeholder {
    color: #fff;
}

#nameInput {
    margin-right: 1vw;
}

.subjectInput {
    display: block;
    width: 42vw;
    margin-bottom: 1vw;
    height: 3rem;
    border: 2px solid #5a4fcf;
    background: none;
}

.subjectInput::placeholder {
    color: #fff;
}

.messageInput {
    display: block;
    min-width: 42vw;
    max-width: 42vw;
    min-height: 20vh;
    border: 2px solid #5a4fcf;
    background: none;
}

.messageInput::placeholder {
    color: #fff;
}

.submitBtnContainer {
    margin-top: 2rem;
    width: 42vw;
    display: flex;
    justify-content: center;
}

.submitBtn {
    padding: 1rem;
    border-radius: 0.3rem;
    border: 2px solid #5a4fcf;
    box-shadow: inset 0 0 0 0 #ccccff;
    -webkit-transition: ease-out 2s;
    -moz-transition: ease-out 2s;
    transition: ease-out 2s;
    background: none;
    color: #fff;
    cursor: pointer;
}

.submitBtn:hover, .submitBtn:focus {
    box-shadow: inset 400px 0 0 0 #5a4fcf;
}
