.subcontainer {
    text-align: center;
    background-color: rgb(162, 162, 162);
    max-width: 35rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.loginPanel {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.title {
    margin-top: 0;
    font-size: 1.8rem;
}

.labelAndInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.loginInputs {
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
}

.loginInputs::placeholder {
    color:rgb(162, 162, 162);
    margin-left: 2rem;
}

.submitBtn {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
}
