.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    padding: 0 4rem;
    border-radius: 4rem;
    margin-right: 1rem;
    border: 2px solid #5a4fcf;
    box-shadow: inset 0 0 0 0 #ccccff;
    -webkit-transition: ease-out 2s;
    -moz-transition: ease-out 2s;
    transition: ease-out 2s;
}

.btnTxt {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    margin: 0.7rem 0;
}

.btnContainer:hover,
.btnContainer:focus {
    box-shadow: inset 400px 0 0 0 #5a4fcf;
}
